* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  min-width: 450px;
  background-color: papayawhip;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid black;
}

.card > * {
  margin: .5rem;
}

.btn {
  min-width: 80px;
  min-height: 2rem;
  font-size: 1rem;
  background: blue;
  color: #fff;
  border-radius: .3rem;
  border: none;
  outline: none;
  cursor: pointer;
}